{% extends "layout.html" %}

{% block content %}
    <div class="discover_container">
        <p class="discover_paragraph">Discover something new:</p>
            <div class="discover_movie_row">
                {% for movie in movies %}
                    <div class="discover_movie_card">
                        <img class="discover_movie_poster" src="{{ movie.poster }}" alt="{{ movie.title }} poster">
                        <p class="discover_movie_title">{{ movie.title }}</p>
                    </div>
                {%  endfor %}
            </div>
    </div>

    <div class="more_section" style="display: flex; flex-direction: row; justify-content: center; margin-top: 1px;">
        <button class="more_section_buttons" id="latest_reviews_button">Latest Reviews</button>
        <button class="more_section_buttons" id="library_button">Library</button>
        <button class="more_section_buttons" id="top_rated_button">Top-rated</button>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center;">
        <div class="reviews_container">
            {% for review in reviews %}
                <div class="review_card">
                    <img class="review_card_pfp" src="{{ url_for('static', path='defaultavatar.jpg') }}" alt="User's profile picture">
                    <div class="review_content">

                        <div style="display: flex; flex-direction: row; gap: 5px; margin: 0; align-items: baseline;">
                            <a class="reviewer_name" href="#">{{ review.author.username }}</a>
                            <p class="review_date">{{ review.date_posted.strftime('%b %d, %Y') }}</p>
                        </div>

                        <div style="display: flex; flex-direction: row; gap: 20px; align-items: flex-start; width: 100%;">
                            <div style="display: flex; flex-direction: column; min-width: 110px;">
                                <img class="review_movie_poster" src="{{ review.poster_url }}" alt="{{review.movie_title}}'s poster">
                                <a class="review_movie_title">{{ review.movie_title }}</a>
                                <p class="review_movie_score">{{ review.score }}</p>
                            </div>
                                <a class="review_sauce" href="{{ url_for('review_page', review_id=review.id) }}">{{ review.content }}</a>
                        </div>


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}