{% extends "layout.html" %}

{% block content %}
    <div class="discover_container">
        <p class="discover_paragraph">Discover something new:</p>
            <div class="discover_movie_row">
                {% for movie in movies %}
                    <div class="discover_movie_card">
                        <img class="discover_movie_poster" src="{{ movie.poster }}" alt="{{ movie.title }} poster">
                        <p class="discover_movie_title">{{ movie.title }}</p>
                    </div>
                {%  endfor %}
            </div>
    </div>

    <div class="reviews_container">
        {% for review in reviews %}
            <div class="review_card">
                <img class="review_card_pfp" src="{{ url_for('static', path='defaultavatar.jpg') }}" alt="User's profile picture">
                <div class="review_content">
                    <div style="display: flex; flex-direction: row; gap: 5px; margin: 0; align-items: baseline;">
                        <a class="reviewer_name" href="#">{{ review.author }}</a>
                        <p class="review_date">{{ review.date_posted }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}